@model PWEB_TP.Models.Locadores

@{
    ViewData["Title"] = "Details";
}
<br></br>
<h1>Detalhes</h1>

<div>
    <h4>Locadores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeLocador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeLocador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoSubscricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoSubscricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdLocadores">Edit</a> |
    <a asp-action="Index">Voltar</a>
</div>
