@model PWEB_TP.Models.Locadores

@{
    ViewData["Title"] = "Edit";
}
<br></br>
<h1>Editar</h1>

<h4>Locadores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdLocadores" />
            <div class="form-group">
                <label asp-for="NomeLocador" class="control-label"></label>
                <input asp-for="NomeLocador" class="form-control" />
                <span asp-validation-for="NomeLocador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoSubscricao" class="control-label"></label>
                <input asp-for="EstadoSubscricao" class="form-control" />
                <span asp-validation-for="EstadoSubscricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
