@model TP_PWEB.Models.Habitacoes

@{
    ViewData["Title"] = "Edit";
}
<br></br>
<h1>Editar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdHabitacoes" />
            <div class="form-group">
                <label asp-for="Localizacao" class="control-label"></label>
                <input asp-for="Localizacao" class="form-control" />
                <span asp-validation-for="Localizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label">Tipo de Habitação:</label>
                <select asp-for="Tipo" class="form-control">
                    <option value="">Selecionar...</option>
                    <option value="Apartamento">Apartamento</option>
                    <option value="Vivenda">Vivenda</option>
                    <option value="Moradia Isolada">Moradia Isolada</option>
                    <option value="Moradia Geminada">Moradia Geminada</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disponivel" class="control-label"></label>
                <select asp-for="Disponivel" class="form-control">
                    <option value="TRUE">Sim</option>
                    <option value="FALSE">Não</option>
                </select>
                <span asp-validation-for="Disponivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicioContrato" class="control-label">Data Inicio Contrato</label>
                <input asp-for="DataInicioContrato" class="form-control" type="date" />
                <span asp-validation-for="DataInicioContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFimContrato" class="control-label">Data Fim Contrato</label>
                <input asp-for="DataFimContrato" class="form-control" type="date" />
                <span asp-validation-for="DataFimContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locador" class="control-label"></label>
                <input asp-for="Locador" class="form-control" />
                <span asp-validation-for="Locador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avaliacao" class="control-label"></label>
                <input asp-for="Avaliacao" class="form-control"/>
                <span asp-validation-for="Avaliacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
