@{
    ViewData["Title"] = "ProcurarHab";
}

<h1>Procurar Habitações</h1>

<h4>Habitações</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResultadosDefault">

            <div class="form-group">
                <label for="localizacao" class="control-label"></label>
                <input name="localizacao" class="form-control" placeholder="Cidade" />
            </div>

            <div class="form-group">
                <label for="tipo" class="control-label">Tipo de Habitação:</label>
                <select name="tipo" class="form-control">
                    <option value="">Selecionar...</option>
                    <option value="Apartamento">Apartamento</option>
                    <option value="Vivenda">Vivenda</option>
                    <option value="Moradia Isolada">Moradia Isolada</option>
                    <option value="Moradia Geminada">Moradia Geminada</option>
                </select>
            </div>
            <div class="form-group">
                <label for="DataInicioContrato" class="control-label">Data Inicio Contrato</label>
                <input for="DataInicioContrato" class="form-control" type="date" />
         
            </div>
            <div class="form-group">
                <label for="DataFimContrato" class="control-label">Data Fim Contrato</label>
                <input for="DataFimContrato" class="form-control" type="date" />
            </div>

            <div class="form-group">
                <input type="submit" value="Procurar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
