@{
    ViewData["Title"] = "Home Page";
}
<br></br>
<div id="carouselDestaques" class="carousel slide m-0" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselDestaques" data-bs-slide-to="0"
                class="active" aria-label="Slide 1" aria-current="true"></button>
        <button type="button" data-bs-target="#carouselDestaques" data-bs-slide-to="1" arialabel="Slide 2" class=""></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active banner_01">
            <div class="container">
                <div class="carousel-caption text-white">
                    <h1>Procura!</h1>
                    <p>Apartamento, Casa, Moradia Geminada, tu escolhes.</p>
                </div>
            </div>
        </div>

        <div class="carousel-item banner_06">
            <div class="container">
                <div class="carousel-caption text-white">
                    <h1>Arrenda!</h1>
                    <p>Arrenda os nossos melhores imóveis!</p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDestaques"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselDestaques"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container bg-white">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Imóveis e Preços</h1>
        <p class="fs-5 text-muted">
            Na nossa imobiliária encontra tudo e mais alguma coisa!
        </p>
    </div>
</div>