<form asp-controller="Habitacoes" asp-action="Search" method="get">
    <input id="searchInput" name="searchInput" placeholder="texto a procurar" />
    <button type="submit" class="bg-transparent border-0">
        <svg bootstrap-icon="Search" class="text-warning" width="24" height="24" aria-label="Search"></svg>
    </button>
</form>